apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project-service
  template:
    metadata:
      labels:
        app: project-service
    spec:
      containers:
        - name: project-service
          image: rakshit435/demo:project-service-v2
          ports:
            - containerPort: 3001
          env:
            - name: MONGO_URI
              value: mongodb://mongo-service:27017/platform
