apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
        - name: frontend-service
          image: rakshit435/demo:frontend-service-v3
          ports:
            - containerPort: 80
          env:
            - name: MONGO_URI
              value: mongodb://mongo-service:27017/platform
